/* ----- Dotted Grid Area ----- */
.dotted-grid-area {
    --size: 150px;
    height: var(--size);
    width: var(--size);

    outline: 1px solid var(--color-dreamless-sleep);

    background-image: radial-gradient(var(--color-dreamless-sleep) 1px, transparent 1px);
    background-size: calc(var(--size) / 10) calc(var(--size) / 10);
    overflow: hidden;
    grid-area: overview;
}

/* ----- Element Content Area ----- */
.element-content-area-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.element-content-area-container .element {
    width: 100%;
    height: 35px;
    font-family: var(--font-family-source-code);
    border: 1px dashed var(--color-bright-indigo);
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

@media screen and (max-width: 425px) {
    .element-content-area-container {
        width: 100%;
    }
}

.element-content-area-container .content {
    width: 100%;
    height: 120px;
    border: 1px dashed var(--color-eerie-black);
    padding: 10px;
    box-sizing: border-box;
}

/* ----- Shapes ----- */
.octagon {
    background: linear-gradient(#7000ff, #cc00ff);
    width: 80px;
    height: 80px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
