@import './normalize.css';
@import './preview.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:wght@100..900&family=Source+Code+Pro:wght@100..900&display=swap');

:root {
    /* Colors */
    --color-black-metal: #050505;
    --color-black-metal-2: #070707;
    --color-black-metal-95: rgba(7, 7, 7, 0.95);
    --color-dreamless-sleep: #111111;
    --color-eerie-black: #1b1b1b;
    --color-more-than-a-week: #8c8c8c;
    --color-titanium-white: #e0e0e0;
    --color-cold-grey: #9d9d9d;
    --color-chaos-black: #0f0f0f;
    --color-chaos-black-50: rgba(15, 15, 15, 0.5);
    --color-bright-indigo: #6f00fd;
    --color-black-wash: #0c0c0c;
    --color-raven: #0b0b0b;
    --color-thamar-black: #181818;
    --color-cursed-black: #131313;
    --color-aged-moustache-grey: #7d7d7d;
    --color-super-saiyan: #fddb00;
    --color-existential-angst: #0a0a0a;
    --color-bright-yellow-green: #9dfd00;
    --color-heat-wave: #fd7900;
    --color-fire-red: #ff3d00;
    --color-red: #ff0000;

    /* Fonts */
    --font-family-inter: 'Inter', sans-serif;
    --font-family-open-sans: 'Open Sans', sans-serif;
    --font-family-source-code: 'Source Code Pro', monospace;
}

body {
    background-color: var(--color-black-metal);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-open-sans);
    color: var(--color-titanium-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-dreamless-sleep);
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-black-wash);
    border-radius: 2px;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
